.nav {
  background-color: #cdedf6;
}

.nav-menus {
  display: flex;
  flex-direction: row;
  height: 77px;
  width: 70%;
  margin: 0 250px 35px;
}

.web-title {
  display: block;
  font-family: "Pacifico", cursive;
  color: #d84727;
  text-decoration: none;
  font-size: 35px;
}

.search {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 18%;
  color: #5eb1bf;
}

input {
  border-radius: 15px;
  border: 1px solid #5eb1bf;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

.icon {
  margin-left: 15px;
}

.is-flex-touch {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 85px;
  color: #5eb1bf;
  margin-left: 20%;
}
.navbar-item {
  padding: 0px 10px 15px 5px;
  color: #5eb1bf;
  text-decoration: none;
  
}

hr {
  border: none;
}

.likes {
  background-color: transparent;
  border: none;
  margin-bottom: 13px;
  color: #5eb1bf;
}

