.title {
    display: block;
    font-size: 45px;
    margin-left: 55px;
    margin-top: 30px;
    font-family: 'Pacifico', cursive;
    color: #D84727;
}

.navbar {
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.navbar-item {
    display: flex;
    justify-content: end;
}
.search {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 20px;
}